
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>
<p>Organic food is food produced by methods complying with the standards of organic farming. Standards vary worldwide, but organic farming features practices that cycle resources, promote ecological balance, and conserve biodiversity.</p>
<p>Organizations regulating organic products may restrict the use of certain pesticides and fertilizers in the farming methods used to produce such products.</p>
<p>Organic foods typically are not processed using irradiation, industrial solvents, or synthetic food additives.</p>

<img src="~/Images/red-apple-with-leaf-isolated-on-white-background-picture-id185262648.jpg" />

